# all ignore
*

### white list ###

# .vscode
!/.vscode
!/.vscode/install.zsh
!/.vscode/extensions
!/.vscode/keybindings.json
!/.vscode/settings.json

# .zsh
!/.zsh
!/.zsh/install.zsh
!/.zsh/reinstall.zsh
!/.zsh/rc/
!/.zsh/rc/*
!/.zsh/.zprezto_override
!/.zsh/.zprezto_override/*
!/.zsh/prompt/
!/.zsh/prompt/*

# Xcode
!/Xcode
!/Xcode/*
!/Xcode/KeyBindings
!/Xcode/KeyBindings/*

# others
!/.gitignore
!/README.md
!Brewfile
!/.gitconfig

.DS_Store