# all ignore
*
!/**/

### white list ###

# Brewfile
!/Brewfile/Brewfile
!/Brewfile/install.zsh
!/Brewfile/dump.zsh

# vim
/vim/bundles/.cache
/vim/bundles/repos
!/vim/install.zsh
!/vim/vimrc
!/vim/toml/dein.toml
!/vim/toml/dein_lazy.toml

# vscode
!/vscode/install.zsh
!/vscode/dump.zsh
!/vscode/extensions
!/vscode/keybindings.json
!/vscode/settings.json

# Xcode
!/Xcode/install.zsh
!/Xcode/*.plist
!/Xcode/KeyBindings/*.idkeybindings

# zsh
!/zsh/install.zsh
!/zsh/reinstall.zsh
!/zsh/functions/prompt_pure_custom_setup
!/zsh/rc/*
!/zsh/.zprezto_override/*
!/zsh/prompt/*

# others
!/.gitignore
!/.gitignore_global
!/README.md
!/.gitconfig
!/install.zsh

# Do not ignore .gitkeep
!.gitkeep
